.footer {
  margin-top: 80px;
  background-color: #312f2f;
  padding: 2rem 0;
  text-align: center;
}

.footer__container {
  max-width: 960px;
  margin: 0 auto;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.footer__section {
  flex-basis: 30%;
  margin-bottom: 1.5rem;
}

.footer__section-heading {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.footer__section-text {
  color: white;
}

.footer__social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.footer__social-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #007bff ;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  text-shadow: 2px 2px 12px black;
}

.footer__social-icon:hover {
  background-color: #ff6600;
}

.footer__social-icon i {
  font-size: 1rem;
}

.footer__copyright {
  margin: 0;
  color: white;
  font-size: 0.8rem;
}
